.start-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #F4EDE6;
    margin-top: 8px;
    border-radius: 7px;
    padding-bottom: 20px;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

@media (max-width: 768px) {
    .start-container {
        grid-template-columns: 1fr; /* switch to single column */
    }

    .container-right {
        justify-self: center; /* center it horizontally */
        text-align: center;
    }
}

.container-left {
    padding: 2rem;
}


.container-right img {
    max-width: 300px;
}

.container-right {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
    align-items: center;
}

body{
    background-image: url(assets/images/pepper-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
